asgiref==3.8.1
attrs==23.2.0
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
DateTime==5.5
dj-database-url==2.2.0
Django==5.0.6
django-ckeditor==6.7.1
django-crispy-forms==2.1
django-environ==0.11.2
django-heroku==0.3.1
django-js-asset==2.2.0
djangorestframework==3.15.1
email-listener==1.2
exceptiongroup==1.1.3
gunicorn==22.0.0
html2text==2024.2.26
idna==3.7
IMAPClient==3.0.1
iniconfig==2.0.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
packaging==24.0
pluggy==1.5.0
psutil==5.9.8
psycopg2==2.9.9
psycopg2-binary==2.9.9
py==1.11.0
pyparsing==3.1.2
pyproject-toml==0.0.10
pytest==8.2.2
pytz==2024.1
referencing==0.30.2
requests==2.32.3
rpds-py==0.10.6
six==1.16.0
sqlparse==0.5.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.2.1
whitenoise==6.6.0
zope.interface==6.4.post2
