{% extends "admin/base_site.html" %}

{% block nav-global %}
<div>
    <input class="vTextField" id="input" placeholder="Send invitation email to new agents">
    <button class="button" type="submit" id="op" onclick="btnFun();">Send</button>
    <p><strong>Send invitation email to new employee</strong></p>
    <script>
        function btnFun() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://protected-cliffs-91463.herokuapp.com/api/v1/invitation");
            var element = document.getElementById('input');
            xhr.send(element.value);
            console.log(element.value);
            element.value = "";
        }
    </script>
</div>
{% endblock %}