body {
    background-color: rgb(243, 243, 243);
}

footer {
    position: relative;
}

.navbar-nav a {
    color: cadetblue;
}

.navbar-nav a:hover {
    color:darkblue;
}

.th#dashboard-type {
    position: relative; 
    left: 45px;
}

#title{
    position: relative; 
    left: 45px;
}