body {
    background-color: rgb(243, 243, 243);
}

.navbar a {
    color: cadetblue;
}

.navbar a:hover {
    color:darkblue;
}

div .name {
    font-size: small;
}

.th#dashboard-type {
    position: relative; 
    left: 45px;
}

#title {
    position: relative; 
    left: 45px;
}

#about_project_container {
    height: 25rem;
}

#info_container {
    position:relative;
    top: 7rem;
    margin-left: 5rem;
}

#card-about {
    height: 18rem;
    top: 5rem;
}
