{% extends "layout.html" %}

{% block title %}
<title>Answer</title>
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    {% if messages %}
        {% for message in messages%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
    <div class="card mt-4">
        <div class="card-header">
            <h4 class="card-title text-center">{{ticket.title}}</h4>
        </div>
        <div class="card-body">
            <h6 class="card-text">{{ticket.text}}</h6>
        </div>
        {% for answer in answers %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>{{answer.number}}.  {{answer.text}}</p>
                </li>
            </ul>
        {% endfor %}
    </div>
    {% if perms.main.answer_tickets %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Answer</button>
            <button type="submit" class="btn btn-warning" value="yes" name="send_to_mail">Answer and send to mail</button>
        </form>
    {% endif %}
</div>

{% endblock content %}