<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        
        <link rel="stylesheet" href="static/main.css">

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% block title %}
        <title></title>
        {% endblock title %}

    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-light justify-content-center">
                <p class="navbar-brand">HelpDesk</p>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tickets">Tickets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="send_ticket">Send</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Knoledge Base</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about us">About Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <section>
            {% block content %} {% endblock content %}
            
            {% block about_us %} {% endblock about_us %}
        </section>
        
        <!--
        <footer class="page-footer font-small blue">
            <div class="footer-copyright text-center py-3">
                © 2022 Copyright:
            </div>
        </footer>
        -->
    </body>
</html>