{% extends "layout.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% for ticket in tickets %}
    <div class="container mt-5">
        <div class="row">
            <div class="col border">
                <p class="lead">{{ticket.author}}</p><br>
            </div>
            <div class="col border">
                <p>{{ticket.author.email}}</p><br>
            </div>
            <div class="col border">
                <p>{{ticket.date}}</p><br>
            </div>
        </div>
        <div class="row">
            <div class="col border">
                <p>{{ticket.text}}</p><br>
                <p>{{ticket.id}}</p>
            </div>
        </div>
        <form method="post">
            <a name="name" class="btn btn-info" role="button" href="{% url 'answer' ticket.id%}" value="{{ticket.id}}">Button</a>
        </form>
    </div>
{% endfor %}

{% endblock %}