{% extends "layout.html" %}

{% block title %}
{% if kind == 1 %}
    <title>Register as agent</title>
{% elif kind == 2%}
    <title>Register</title>
{% else %}
    <title>Log In</title>
{% endif %}
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container mb-3">
    <form method="post">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        {{ form|crispy }}
        {% if kind == 3%}
            <button type="submit" class="btn btn-success">Log in</button>
        {% else %}
            <button type="submit" class="btn btn-success">Sign Up</button>
        {% endif %}
    </form>
</div>
{% endblock %}