{% extends "layout.html" %}

{% block title %}
    <title>Send Tickets</title>
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container mb-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="file-id" name="file-name">
            <label class="custom-file-label" for="file" id="file-label-id">Your file</label>
        </div>
        {% if ticket is not None %}
            <button type="submit" class="btn btn-success">Change</button>
        {% else %}
            <button type="submit" class="btn btn-success">Send ticket</button>
        {% endif %}
    </form>
</div>
<script src="static/main.js"></script>
{% endblock content %}