{% extends "layout.html" %}

{% block title %}
<title>Send Tickets</title>
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% if ticket is not None %}
            <button type="submit" class="btn btn-success">Change</button>
        {% else %}
            <button type="submit" class="btn btn-success">Send ticket</button>
        {% endif %}
    </form>
</div>
{% endblock content %}