{% extends "layout.html" %}

{% block title %}
    <title>Send Tickets</title>
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container mb-4 d-flex justify-content-center">
    <form method="post" enctype="multipart/form-data">
        {% if messages %}
            {% for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}

        <div class="card mt-4" style="width: 60rem;">
            <div class="card-body">
                {% csrf_token %}
                <div class="mb-4">
                    {{ form.title|as_crispy_field }}
                </div>
                <div class="mb-4">
                    {{ form.media }}
                    {{ form.text|as_crispy_field }}
                </div>
                <div class="row mb-4">
                    <div class="w-50 pl-3 pr-1">
                        {{ form.priority|as_crispy_field }}
                    </div>
                    <div class="w-50 pr-3 pl-1">
                        {{ form.type|as_crispy_field }}
                    </div>
                </div>
                <div class="row mb-3 d-flex justify-content-center">
                    <div class="custom-file w-50 p-3">
                        <input type="file" class="custom-file-input" id="file-id" name="file-name">
                        <label class="custom-file-label" for="file" id="file-label-id">Your file</label>
                    </div>
                </div>
                {% if ticket is not None %}
                    <button type="submit" class="btn btn-success">Change</button>
                {% else %}
                    <button type="submit" class="btn btn-success">Send ticket</button>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock content %}