{% extends "layout.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% for ticket in tickets %}
    <div class="container mt-5">
        <div class="row">
            <div class="col border">
                <p class="lead">{{ticket.author}}</p><br>
            </div>
            <div class="col border">
                <p>{{ticket.author.email}}</p><br>
            </div>
            <div class="col border">
                <p>{{ticket.date}}</p><br>
            </div>
        </div>
        <div class="row">
            <div class="col border">
                <p>{{ticket.text}}</p><br>
                <p>{{ticket.id}}</p>
                {% if ticket.num_answers != 0%}
                    <p>Answers: {{ticket.num_answers}}</p>
                {% endif %}
                <p>Priority: {{ticket.get_priority_display}}</p>
                <p>Type: {{ticket.get_type_display}}</p>
                <p>Status: {{ticket.get_status_display}}</p>
            </div>
        </div>
        {% if perms.main.answer_tickets %}
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-info" role="button" value="{{ticket.id}}" name="answer" >Answer</button>
            </form>
        {% endif %}
        {% if perms.main.rewrite_tickets %}
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-info" role="button" value="{{ticket.id}}" name="change" >Change</button>
            </form>
        {% endif %}
    </div>
{% endfor %}

{% endblock content %}